/*
This file defines various base variables and styles to be used
throughout the project.
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --lwhite: #faf9f9;
  --dwhite: #eae4cc;
  --lgreen: #dde5b6;
  --dgreen: #c0d28c;
  --lbrown: #a98467;
  --dbrown: #655247;
  --teal: #89b0ae;
}

#website-header {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
