@use './typography' as *;
@use '../abstracts/variables' as *;

body {
  margin: 0;
  background-color: $offwhite;
}

label {
  @include h1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
