/* Colours */
$offwhite: #faf9f9;
$eggshell: #eae4cc;
$springbud: #dde5b6;
$greenyellow: #c0d28c;
$coffee: #a98467;
$umber: #655247;
$teal: #89b0ae;

/* Border */
$shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
$radius-tiny: 0.3em;
$radius-sm: 1em;
$radius-lg: 2em;
