/* Colours */
$offwhite: #faf9f9;
$eggshell: #eae4cc;
$springbud: #dde5b6;
$greenyellow: #c0d28c;
$coffee: #a98467;
$umber: #655247;
$teal: #89b0ae;
$salmon: #ffd6ba;
$shadow-color: rgba(0, 0, 0, 0.25);

/* Border */
$shadow-border: 4px 4px 4px $shadow-color;
$border: $umber solid 1px;
$box-shadow: inset 0 0 0 1px $umber;
$radius-tiny: 0.3em;
$radius-sm: 1em;
$radius-lg: 2em;
