@use '../styles/style' as *;

.Button {
  @include h1;
  border: none;
  background-color: $greenyellow;
  color: $umber;

  @include text-component-padding;
  border-radius: $radius-tiny;
  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.7);
  }
  &:active {
    transform: translateY(0.2em);
  }
}
