@use '../styles/style' as *;

.Button {
  @include h1;
  border: none;
  background-color: $greenyellow;
  color: $umber;

  @include inline-component-padding;
  border-radius: $radius-tiny;
  transition: transform 0.1s, filter 0.1s;
  &:hover {
    filter: brightness(0.7);
  }
  &:active {
    transform: translateY(0.4em);
  }
}
